<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
<% if @topic3.question3 == 7 %>
<%= link_to"もどる", chiikawas_index_path,class:"mai" %>
<p class="maru">診断結果</p>
<br>
<br>
<br>
<br>
<p class="mese">マイペース...でも資格を持つ優秀な</p>
  <p class="kuri">あなたはくりまんじゅうです！</p>
  <div class="photo">
  <%= image_tag 'chiikawa kuri.jpg',:size => '350x400' %>
  </div>
  
<% end %>

<% if @topic3.question3 == 8 %>
<%= link_to"もどる", chiikawas_index_path,class:"mai" %>
<p class="maru">診断結果</p>
<br>
<br>
<br>
<br>
<p class="mese">全ては自分のペースで突き進む！そんな</p>
  <p class="kuri">あなたはうさぎです！</p>
  <div class="photo">
  <%= image_tag 'chiikawa characters z.jpg',:size => '300x400' %>
  </div>
<% end %>

<% if @topic3.question3 == 9 %>
<%= link_to"もどる", chiikawas_index_path %>
<p class="maru">診断結果</p>
<br>
<br>
<br>
<br>
<p class="mese">最高にポジティブ!ナイスガイな</p>
  <p class="kuri">あなたはハチワレです！</p>
  <div class="photo">
  <%= image_tag 'chiikawa characters zz.jpg',:size => '350x450' %>
  </div>
<% end %>

<% if @topic3.question3 == 10 %>
<%= link_to"もどる", chiikawas_index_path,class:"mai" %>
<p class="maru">診断結果</p>
<br>
<br>
<br>
<br>
<p class="mese">慎重で確実な道を進む</p>
  <p class="kuri">あなたは鎧さんです！</p>
  <div class="photo">
  <%= image_tag 'yororisan.jpg',:size => '300x650' %>
  </div>
<% end %>

<% if @topic3.question3 == 11 %>
<%= link_to"もどる", chiikawas_index_path,class:"mai" %>
<p class="maru">診断結果</p>
<br>
<br>
<br>
<br>
<p class="mese">勇敢で兄貴・姉御肌の</p>
  <p class="kuri">あなたはラッコです！</p>
  <div class="photo">
  <%= image_tag 'chiikawa rako.jpg',:size => '300x400' %>
  </div>
<% end %>

<% if @topic3.question3 == 12 %>
<%= link_to"もどる", chiikawas_index_path,class:"mai" %>
<p class="maru">診断結果</p>
<br>
<br>
<br>
<br>
<p class="mese">末っ子タイプ、でもやるときはやるそんな</p>
  <p class="kuri">あなたはちいかわです！</p>
  <div class="photo">
  <%= image_tag 'chiikawa characters zzz.jpg',:size => '350x400' %>
  </div>
<% end %>

<% if @topic3.question3 == 13 %>
<%= link_to"もどる", chiikawas_index_path,class:"mai" %>
<p class="maru">診断結果</p>
<br>
<br>
<br>
<br>
<p class="mese">自由であり、自信のある</p>
  <p class="kuri">あなたはモモンガです！</p>
  <div class="photo">
  <%= image_tag 'chiikawa momonga.jpg',:size => '370x400' %>
  </div>
<% end %>

<% if @topic3.question3 == 14 %>
<%= link_to"もどる", chiikawas_index_path,class:"mai" %>
<p class="maru">診断結果</p>
<br>
<br>
<br>
<br>
<p class="mese">おっとりしてて謙虚、そんな</p>
  <p class="kuri">あなたはカニちゃん（古本屋さん）です！</p>
  <div class="photo">
  <%= image_tag 'kanichan.jpg',:size => '400x500' %>
  </div>
<% end %>
