<div class="usagi2">
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="example.css">
  <title>サンプルのサイト</title>
</head>
<body>
<!-- header -->
  <header>
  	<h1 class="headline">
      <a>ちいかわの見どころを紹介！</a>
    </h1>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a>～これを見るとちいかわのイメージ変わるかも？～</a>
     
    </ul>
  </header>
</body>
</html>


<%= image_tag 'deza',:size => '300x280',class:"ugoira" %> 
<%= image_tag 'deza2.jpg',:size => '300x280',class:"ugoira2" %> 
<%= image_tag 'deza3.jpg',:size => '300x280',class:"ugoira3" %> 

<div class="toc-005">
    <div>
        目次ってコトっ！？
    </div>
    <ol>
        <li><a href="#">ちいかわ族について</a></li>
        <li>
            <a href="#">キメラ化とは？</a>
            <ol>
                <li><a href="#">モモンガの秘密</a></li>
                <li><a href="#">ちいかわの世界にある謎のおいしい食べ物たち</a></li>
            </ol>
        </li>
    </ol>
</div>

<div class="ribbon14-wrapper">
  <span class="ribbon14">★</span>
  <div>
  <p>1.ちいかわ族について</p>
  </div>
</div>
<div class="db">
<%= image_tag 'zoku.jpg',:size => '550x400',class:"pu" %>
<p class="sora2">ちいかわ、ハチワレ、うさぎのような"なんかちいさくてかわいい生き物"を
略してちいかわといいます！<br>
ちいかわ族には個体差があり、知能・身体能力・更には経済力までそれぞれ違うので、<br>
まるで人間社会と同じような社会の中で暮らしています！</p>
    </div>

<div class="balloon5">
  <div class="faceicon">
    <%= image_tag 'hukidasi6.jpg'%> <img~>
  </div>
  <div class="chatting">
    <div class="says">
      <p>フ!（ちいかわの笑い方）</p>
    </div>
  </div>
</div>
<div class="balloon5">
  <div class="faceicon">
    <%= image_tag 'hukidasi2.jpg'%> <img~>
  </div>
  <div class="chatting">
    <div class="says">
      <p>みーんな仲良しだよね！</p>
     </div>
    </div>
   </div>



<div class="h3">
  ハチワレはすごく貧乏！？
  </div>
<div class="cd">
<%= image_tag 'omosiro',:size => '550x400' ,class:"tama3"%>
<p class="sora2">実はハチワレはすごく貧乏なことが描写されています！この画像はちいかわとハチワレが、<br>
ハチワレの家でご飯を食べているシーン。ハチワレは洞窟の中で暮らしていて家を持っていません。
テーブルは段ボール、粗大ゴミがおいてあるのを見るとお金あげたくなっちゃいますよね笑</p>
</div>

<div class="ribbon14-wrapper">
  <span class="ribbon14">★</span>
  <div>
  <p>2.キメラ化とは？</p>
  </div>
</div>
<div class="db">
<%= image_tag 'kimera',:size => '550x400',class:"tama3" %>
<p class="sora2">ちいかわ達の当然変異でもあるキメラ化。<br>キメラ化とは、かわいい見た目のちいかわ達がモンスターになってしまうことをいいます。<br>
キメラ化し、モンスターになってしまうと二度とちいかわ族に戻ることができない恐ろしい現象なのです。<br>
</div>

<div class="h3">
  アイテムによりキメラ化する！？
  </div>
  <div class="for">
<%= image_tag 'kimera2',:size => '550x350',class:"satoru" %>

<div class="arrow">
</div>

<%= image_tag 'kimera3',:size => '500x350',class:"satoru2" %>
</div>

<p class="yuji">アニメでも描かれたシーン。うさぎがリサイクルショップで購入した謎のステッキにはなんでも願いを叶える力がありました。<br>
しかし、それを使用したハチワレとうさぎは恐ろしい怪物へと姿を変えてしまいます。<br>
残されたちいかわがステッキを破壊したことで、元の姿に戻ることができました。
</div>

<div class="balloon5">
  <div class="faceicon">
    <%= image_tag 'hukidasi1.jpg'%> <img~>
  </div>
  <div class="chatting">
    <div class="says">
      <p>うう...うわああ...</p>
    </div>
  </div>
</div>
<div class="balloon5">
  <div class="faceicon">
    <%= image_tag 'hukidasi3.jpg'%> <img~>
  </div>
  <div class="chatting">
    <div class="says">
      <p>この時はほんとどうなるかとおもった...</p>
     </div>
    </div>
   </div>

   <div class="ribbon14-wrapper">
  <span class="ribbon14">★</span>
  <div>
  <p>3.モモンガの秘密</p>
  </div>
</div>

<div class="db">
<%= image_tag 'momonga2.jpg',:size => '550x400',class:"tama3"%>
<p class="sora2">ずる賢くて生意気、わがままでありつつ可愛いところもある...。<br>
いつもみんなを困らせては、自由に動き回る破天荒な一面もあります。
そんな小悪魔的な存在のモモンガですが、実はすごい秘密が隠されているんです！</p>
</div>

<div class="h3">
  でかつよと体が入れ替わっている！？
  </div>

<div class="cd">
<%= image_tag 'momonga3.jpg',:size => '350x500',class:"tama2" %>
<p class="sora2">この画像をみて分かる通り、でかつよがモモンガに対し体を返せ！！と言っているのが分かると思います。<br>
そう、実はモモンガとでかつよは体が入れ替わっており、今いるモモンガはでかつよという衝撃的な展開なんです！
どうやって入れ替わってしまったのかはまだ不明・・・。でかつよ（ももんが）はいまどこに...？</p>
</div>

<div class="h4">
  こんなシーンも...
  </div>

<div class="megumi">
<%= image_tag 'momonga4.jpg',:size => '350x500' %>
<%= image_tag 'momonga5.jpg',:size => '350x500' %>
<p class="sora2">気になる人は漫画を読んでみてね！</p>
</div>


<div class="ribbon14-wrapper">
  <span class="ribbon14">★</span>
  <div>
  <p>4.謎のおいしい食べ物たち</p>
  </div>
</div>
<p class="h5">１，味噌汁の川ってコトっ！？</p>
<div class="cd">
<%= image_tag 'tabe.jpg',:size => '350x500',class:"tama2" %>
<p class="sora2">ちいかわの世界では味噌汁の川が流れているんです！衝撃ですよね...笑<br>
このシーンではくりまんじゅうが二日酔いを和らげるために味噌汁を飲みにきています。<br>
具は巨大しじみでとてもおいしそう。でもどこから湧いてきたんだろう。</p>
</div>

<p class="h5">２，大量のケチャップご飯ってコトっ！？</p>
<div class="db">
<%= image_tag 'tabe2.jpg',:size => '350x500',class:"tama2" %>
<p class="sora2">突然現れた謎の大量のケチャップご飯！！<br>
チキンライスとかではないのがまた面白い所ですね。<br>
私の推しのうさぎはアレンジをして、お子様ランチのように見立てている...！流石です！</p>
</div>

<p class="h5">３，そばってコトっ！？</p>
<div class="db">
<%= image_tag 'tabe3.jpg',:size => '350x500',class:"tama2" %>
<p class="sora2">地面に現れたのはつゆに浮いているそば！？私もこれを見て驚きました笑<br>
つゆだけとかそばだけならわかるけど、どっちも湧くのは親切ですね！<br>
どうやらみんなはわさびをつけて食べるそうです。あなたはわさびをつけてそばを食べますか？<br></p>
</div>

</div>



















