
<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet">
<p class="pon">みんなのおともだち</p>
    <div class="chi">
    <%= image_tag 'chiikawa characters zzz.jpg',:size => '270x300' %>
    </div>
    <p class="tarako">なまえ：ちいかわ <br>
    ちょっぴり泣き虫だけど時に勇敢。そして友達思い。使用武器はさすまた。</p>
    <div class="chi">
<%= image_tag 'chiikawa characters zz.jpg',:size => '270x360' %>
    </div>
    <p class="tarako">なまえ：ハチワレ<br>
     とってもポジティブで優しい。チャリメラが好き。使用武器はさすまた。</p>
    <div class="chi"><br>
                    <br>
<%= image_tag 'chiikawa characters z.jpg',:size => '240x320' %>
</div>
<p class="tarako">なまえ：うさぎ<br>
 何を考えているかわからない超自由人。ピザまんが好き。使用武器は爆発する棒のようなもの。</p>
    
    <div class="chi"><br>
                     <br>
<%= image_tag 'chiikawa momonga.jpg',:size => '320x310' %>
    </div>
    <p class="tarako">なまえ：モモンガ<br>
     わがままでぶりっこ。謎を抱えてる。使用武器は不明。</p>
    <div class="chi"><br>
                    <br>
<%= image_tag 'chiikawa rako.jpg',:size => '290x300' %>
    </div>
    <p class="tarako">なまえ：ラッコ<br>
     ランカー1位である実力者。面倒見がいい。使用武器は剣。</p>
    <div class="chi"><br>
                     <br>
<%= image_tag 'chiikawa kuri.jpg',:size => '230x270' %>
    </div>
    <p class="tarako">なまえ：くりまんじゅう <br>
    いつも無口であり、お酒を常に飲んでいる。使用武器は不明。</p>

    <p class="pon">アイテム</p>
   <div class="ab">
    <%= image_tag 'sasumata.jpg',:size => '450x300',class:"tama" %>
    <div class="item"><div class="sasu">アイテム：さすまた</div><br><br><div class="sasu2">ちいかわとハチワレが持っているのはさすまた。<br>これを使い彼らは討伐へと向かう。殺傷能力は低め。</div></div>
</div>   
<br>
<br>

   <div class="ab">
   <%= image_tag 'usagi buki.jpg',:size => '450x300',class:"tama" %>
   <div class="item"><div class="sasu">アイテム：うさぎの爆発棒</div><br><br><div class="sasu2">うさぎの所持している武器。<br>両端が爆発する仕組みになっており、殺傷能力は高い。</div></div>
   </div>  
   <br>
   <br>
   <div class="ab">
   <%= image_tag 'kusa1.jpg',:size => '450x350',class:"tama" %>
   <div class="item"><div class="sasu">アイテム：草むしり検定証</div><br><br><div class="sasu2">うさぎ・ハチワレなどが所持している資格<br>これを所持している者は報酬が多くもらえる。階級あり。</div></div>
   </div>
   <br>
   <br>
   <div class="ab">
   <%= image_tag 'food.jpg',:size => '450x300',class:"tama" %>
   <div class="item"><div class="sasu">アイテム：突然湧き出てくる食べ物</div><br><br><div class="sasu2">ちいかわの世界では突如現れる食べ物が多くある。<br>なぜ湧き出てくるのかは不明。なにか秘密がありそうだが...</div></div>
   </div>


