<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">


<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="example.css">
  <title>サンプルのサイト</title>
</head>
<body>
<!-- header -->
  <header>
  	<h1 class="headline">
      <a>～謎が多いちいかわの世界について～</a>
    </h1>
    <ul class="nav-list">
      <li class="nav-list-item">
        
        </ul>
        </header>
      </body>
      </html>
    <div class="cd3"><br>
    <%= image_tag 'nazo.jpg', :size => '600x300',class:"nazo"%>
    <p class="sora">ちいかわ族以外にも種族は存在している。<br>
                画像のようなでかつよ族という危険種族がいる<br><br>
                彼らは日々ちいかわ族を捕食し生活している。<br></p>
        </div><br>
        <div class="box8">
    <p>ここでワンポイント<br>
    　　彼らには友好型と擬態型が存在している。<br>
    ・友好型 ちいかわ達に親しく接してくれる。危険ではない.<br>
    ・擬態型　親しいフリをしてちいかわ達に近づき、油断させたのち襲いかかってくる危険な存在。</p>
</div>




    <p class="tya">~労働編~</p><br>
    <p class="tya2">ちいかわの世界では労働は必須であり、労働をすることで報酬を得て生活をしている。
    労働内容は"草むしり" "討伐"がメインである。</p>

<div class="cd">
<%= image_tag 'roudou1.jpg',:size => '400x500',class:"tama2"%>
<p class="sora">この画像ではちいかわ達がどのような労働条件で働くか選択をしている。<br>
                このシーンではちいかわは草むしり選択し、汗を流しながら働いている。<br><br>
                鎧さんというキャラクターが、労働を強いる代わりに報酬を与えている。<br>
                未だに鎧さんというキャラクターは謎が多く、完全な味方なのか分からない。</p>
</div>
 
<div class="balloon5">
  <div class="faceicon">
    <%= image_tag 'hukidasi1.jpg'%> <img~>
  </div>
  <div class="chatting">
    <div class="says">
      <p>働きたくないよ...</p>
    </div>
  </div>
</div>
<div class="balloon5">
  <div class="faceicon">
    <%= image_tag 'hukidasi2.jpg'%> <img~>
  </div>
  <div class="chatting">
    <div class="says">
      <p>だめだよ！！働かざる者食うべからずだからね！</p>
     </div>
    </div>
   </div>
   <p class="tya3">"討伐とは"</p>
  
   <div class="tora">
   <%= image_tag 'toubatu1.jpg',:size => '800x500',class:"choco"%><br>
   ↑↑↑アニメの一部シーン
   </div>
   <div class="cd">
   <%= image_tag 'toubatu2.jpg',:size => '400x500',class:"tama2"%><br><br>
   <p class="sora">討伐の仕事ではちいかわ達はいつも命がけで戦っているが報酬はそこまで高くはない。<br>
                ちいかわは武器のさすまたを使い討伐を行っている。ちいかわの戦闘能力は高くない。<br><br>
                怪物たちはなんか小さくてかわいい生き物（ちいかわ達）を捕食対象としている。<br>
                なぜ怪物たちが湧き出てくるのかは未だ不明である。</p>
</div>

<div class="balloon5">
  <div class="faceicon">
    <%= image_tag 'hukidasi1.jpg'%> <img~>
  </div>
  <div class="chatting">
    <div class="says">
      <p>死ぬかとおもったーー！</p>
    </div>
  </div>
</div>
<div class="balloon5">
  <div class="faceicon">
    <%= image_tag 'hukidasi3.jpg'%> <img~>
  </div>
  <div class="chatting">
    <div class="says">
      <p>でもこれもランカーに入るためなんだよね、、！！</p>
     </div>
    </div>
   </div>

   <div class="balloon3-right-btm">
   POINT
 </div>
  <p class="ranka">ランカーとは？？</p>
  <div class="wa"><br>
  <%= image_tag 'ranka.jpg', :size => '600x300',class:"rako2"%>
  上位に入るとランカーになれる。現状の１位はラッコであり、現代最強ランカーである。<br>
  高難易度の依頼を受けることができるため、報酬の量もかなり多い。<br>
  ランカーになると武器に自分の顔が表示される。<br>うさぎはこれを狙っているためかマーカーで自分の顔を描いている。
  </div>

  <div class="h1">
  実際の討伐ではどうなんだろう？？
  </div>
  <div class="cd"><br><br>
  <%= image_tag 'toubatu3.jpg', :size => '400x600',class:"tama2"%>
  <p class="sora">ちいかわ、ハチワレ、うさぎが共同して討伐に向かった一部のシーン。
  でかつよ族は攻撃力が高く、しっぽに当たっただけでダメージをかなり受けてしまう。
  現状ではまだちいかわ達ではでかつよを討伐することはできない。</p>
  </div>

  


  <div class="cd2"><br><br>
  <p class="sora2">このシーンでの討伐は失敗。<br>
  うさぎの爆発棒により、でかつよ族を退けることには成功した。<br>
  失敗した後は、信号弾を出すことで撤退することができる。<br>
  しかし、このクレーンゲームのように掴まれ運ばれるのは謎のままである。</p>
  <%= image_tag 'tetai.jpg', :size => '400x500',class:"tama3"%>
  </div>

  <div class="balloon5"><br>
  <div class="faceicon">
    <%= image_tag 'hukidasi1.jpg'%> <img~>
  </div>
  <div class="chatting">
    <div class="says">
      <p>うう...怖くて何もできなかった</p>
    </div>
  </div>
</div>
<div class="balloon5">
  <div class="faceicon">
    <%= image_tag 'hukidasi5.jpg'%> <img~>
  </div>
  <div class="chatting">
    <div class="says">
      <p>ごめんね...。まだまだおっきな討伐はダメみたい。</p>
     </div>
    </div>
   </div>
  <div class="h2">
  このでかつよ族はいったい何者...？
  </div>
  <div class="anoko">
  <%= image_tag 'anoko.jpg', :size => '650x550'%> 
  </div>
  <div class="anoko2">
  でかつよ族であるこの怪物の名前は"あの子"。どこから出てきたのか、どんな目的があるのかは不明。<br>
  大きな体と爪でちいかわ達に攻撃を与える危険な存在。<br>
  無邪気な性格をしているためか、面白半分でちいかわ達をもてあそぶシーンが多々ある。<br>
  しかし、この"あの子"にはとある秘密があって、、、！？
  </div>

  <p class="momo">もっとたくさん知りたい人はgood pointのページに飛んでみてね！！</p>
  <%= link_to"good point", chiikawas_good_path,class:"momo2"%>
  


  








 